<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament:</strong>
  <%= @team.tournament_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
