<h1 class="text-center">ALERT SCHEDULER</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alert_schedules.each do |alert_schedule| %>
      <tr>
        <td><%= alert_schedule.user.name %></td>
        <td><%= alert_schedule.name %></td>
        <td><%= link_to 'Show', alert_schedule, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_alert_schedule_path(alert_schedule), :class => "btn" %></td>
        <td><%= link_to 'Destroy', alert_schedule, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert schedule', new_alert_schedule_path, :class => "btn btn-success" %>
