<h1 class="text-center">GAME LOCATIONS</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Game server</th>
      <th>Chat server</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_locations.each do |game_location| %>
      <tr>
        <td><%= game_location.user_name %></td>
        <td><%= game_location.game_name %></td>
        <td><%= game_location.game_social_server_name %></td>
        <td><%= game_location.chat_server_name %></td>
        <td><%= link_to 'Show', game_location, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_game_location_path(game_location), :class => "btn" %></td>
        <td><%= link_to 'Destroy', game_location, :class => "btn btn danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game location', new_game_location_path, :class => "btn btn-success" %>
