<%= form_for(@user, :html => {:role => "form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>By setting an email address here, you can override a linked google account email</p>
    <p>Warning: It is possible for other users to see your email address when you both join the same event</p>
    <%= f.label :email, :class => "help-inline" %>
    <%= f.text_field :email, :class => "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
