<h1>Welcome to GameSocial</h1>

<% unless current_user %>
<p>To get started, sign in with Steam and Google using the buttons above</p>

<p>You can also browse the public events throughout the site without logging in.</p>
<% else %>

<p>Use GameSocial to join and create Events and Lan Parties using the tools provided. You can also set up Alerting schedules to notify you when a friend is playing a specific game.</p>

<p>For questions and assistance check out the <a href="http://bfosberry.github.io/GameSocial/">GameSocial site</a>, and also the <a href="http://rackergamers.org/community/chat/">Rackergamers Slack Server</a>.
<% end %>

<p>If you are using OSX/IOS, be aware there may be some calendar and rendering issues.</p>

<p>
<% unless Rails.env == "production" %><p><b>Warning: This is a non-production environment, data may be lost at any time. Please use this environment for testing only.</b></p><% end %>

<% if signed_in? %>

	<p id="notice"><%= notice %></p>
	<% if current_user.upcoming_game_events.size > 0 %>
		<h3>Your Upcoming Events:</h3>
		<%= render "game_events/game_events" %>
	<% end %>

        <h3>Friends in-game:</h3>
        <% if @game_locations.size > 0 %>
        <table class="table table-striped table-bordered">
          <% @game_locations.each do |gl| %>
            <tr>
              <%= render "users/user_table", :u => gl.user %>
              <%= render "games/game", :g => gl.game %>
              <%= render "game_social_servers/game_social_server_table", :gs => gl.game_social_server %>
            </tr>
          <% end %>
          </table>
        <% else %>
          <div class="well">No friends are in-game right now</div>
        <% end %>
<% end %>

<div class="well">
<p>Unsure what to play? Try <a href="http://steamroulette.net">SteamRoulette</a>

<p>Find a bug? Want to request a new feature? Click <a href="https://github.com/bfosberry/GameSocial/issues/new">here</a></p>

<p>To Contribute to this project please visit <a href="https://github.com/bfosberry/GameSocial">https://github.com/bfosberry/GameSocial</a></p>
</div>
