<h1 class="text-center">USERS</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Provider</th>
      <th>Uid</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.provider %></td>
        <td><%= user.uid %></td>
        <td><%= user.sanatized_name %></td>
        <% if current_user.has_friend?(user) %>
          <td><%= link_to "Remove Friend", friendship_path(current_user.get_friendship(user)), :class => "btn", :method => :delete %></td>
        <% else %>
          <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :class => "btn", :method => :post %></td>
        <% end %>
        <td><%= link_to 'Show', user, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => "btn" %></td>
        <td><%= link_to 'Destroy', user, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-success" %>
