<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p> 
  <strong>Games:</strong>
  <table>
  	<% @user.games.each do |g|%>
  	<tr>
      <%= g.name %>
    </tr>
    <% end %>
  </table>



<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= link_to friendship.friend.name, friendship, :method => :get %>
    </li>
  <% end %>
</ul>


<ul>
  <% for user in @user.inverse_friends %>
    <li><%= link_to user.name, user, :method => :get %></li>
  <% end %>
</ul>
<p><%= link_to "Find Friends", users_path %></p>

<h2>This user was last playing</h2>
<ul>
  <li>Game: <%= @user.latest_location.game.name %></li>
  <li>Game Server: <%= @user.latest_location.game_server.name %></li>
  <li>Chat Server: <%= @user.latest_location.chat_server.name %></li>
  <li>Last seen: <%= @user.latest_location.game.updated_at %></li>


</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
