<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p> 
  <strong>Games:</strong>
  <table>
  	<% @user.games.each do |g|%>
  	<tr>
      <%= g.name %>
    </tr>
    <% end %>
  </table>



<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= link_to friendship.friend.name, friendship, :method => :get %>
    </li>
  <% end %>
</ul>


<ul>
  <% for user in @user.inverse_friends %>
    <li><%= link_to user.name, user, :method => :get %></li>
  <% end %>
</ul>
<p><%= link_to "Find Friends", users_path %></p>

<% if @user.latest_location %>
  <% if @user.latest_location.game %>
    <h2>This user was last playing</h2>
    <ul>
      <li>Game: <%= @user.latest_location.game_name %></li>
      <li>Game Server: <%= @user.latest_location.game_social_server_name %></li>
      <li>Chat Server: <%= @user.latest_location.chat_server_name %></li>
      <li>Last seen: <%= @user.latest_location.updated_at %></li>
    </ul>
  <% else %>
    <h2>This user is not in-game</h2>
  <% end %>
<% end %>

<h2>Activity</h2>
<table>
  <tr>
    <th>Alert</th>
    <th>Link<th>
  </tr>
  <% for alert in @user.alerts %>
    <tr>
      <td><%= alert.title %></td>
      <td><%= link_to 'Show', alert_path(alert) %></td>
    </tr>
  <% end %>
<table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
