<h3 class="text-center"><%= @user.name %></h3>

<p id="notice"><%= notice %></p>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
  <li role="presentation"><a href="#steam-games" aria-controls="steam-games" role="tab" data-toggle="tab">Steam Games</a></li>
  <li role="presentation"><a href="#board-games" aria-controls="board-games" role="tab" data-toggle="tab">Board Games</a></li>
  <li role="presentation"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Friends</a></li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
    <div class="panel panel-default">
      <div class="panel-heading">Summary</div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <%= image_tag @user.avatar_url, size: "200", class: "media-object" %>
          </div>
          <div class="media-body">
            <% if current_user && current_user.owns(@user) %>
              <p>Email: <%= @user.email %></p>
            <% end %>
          </div>
        </div>  
      </div>

      <ul class="list-group">
        <% if @user.steam_profile_url %>

          <li class="list-group-item"><%= link_to @user.steam_profile_url, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Steam Profile
          <% end %></li>
        <% end %>
        <% if current_user && current_user.owns(@user) %>
          <li class="list-group-item"><%= link_to edit_user_path(@user), :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
          <% end %></li>
        <% end %>

      </ul>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="steam-games">
    <div class="section-header">
     
      <% if current_user && current_user.owns(@user) %>
        <a data-toggle="modal" href="#gameModal" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a Game</a>
        <h3 class="h3-1-0">Your Steam Games</h3>
      <% else %>
        <h3 class="h3-0-0">Your Steam Games</h3>
      <% end %>
    </div>
    <%= grid(@steam_games_grid) do |g|

      g.blank_slate  do
        content_tag :div, "No Games found", class: 'well'
      end

      g.column name: 'Icon', attribute: 'logo_url', filter: false do |game|
        image_tag(game.logo_url, :crop => :fill, :class => "game_image")
      end

      g.column name: 'Name', attribute: 'name' do |game|
        game.name
      end
    end -%>
  </div>

  <div role="tabpanel" class="tab-pane" id="board-games">
    <div class="section-header">
      <% if current_user && current_user.owns(@user) %>
        <a data-toggle="modal" href="#gameModal" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a Game</a>
        <h3 class="h3-1-0">Your Board Games</h3>
      <% else %>
        <h3 class="h3-0-0">Your Board Games</h3>
      <% end %>
    </div>
    <%= grid(@board_games_grid) do |g|

      g.blank_slate  do
        content_tag :div, "No Games found", class: 'well'
      end

      g.column name: 'Icon', attribute: 'logo_url', filter: false do |game|
        image_tag(game.logo_url, :crop => :fill, :class => "game_image")
      end

      g.column name: 'Name', attribute: 'name' do |game|
        game.name
      end
    end -%>
  </div>

  <div role="tabpanel" class="tab-pane  " id="friends">
    <div class="section-header section-header-centered">
      <h2>Your Friends</h2>
    </div>

    <% if @user.friends.size > 0 %>
      <div class="row">
        <% for i in 0..3 %>
          <div class="col-lg-3 col-md-3">
            <%  @user.friends.each_with_index do |u, index| %>
              <% if index % 4 == i %>
                <%= render "users/user", :u => u %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>No Friends :(</h2>
    <% end %>
  </div>
  <%=  render 'games/game_form' %>
</div>