<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p> 
  <strong>Games:</strong>
  <table>
  	<% @user.games.each do |g|%>
  	<tr>
      <%= g.name %>
    </tr>
    <% end %>
  </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
