<p id="notice"><%= notice %></p>


<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Name</h5></td>
    <td><p class="text-center"><%= @user.name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Email</h5></td>
    <td><p class="text-center"><%= @user.email %></p></td>
  </tr>
  <% if is_admin? %>
  <tr>
    <td><h5 class="text-center">Provider</h5></td>
    <td><p class="text-center"><%= @user.provider %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Uid</h5></td>
    <td><p class="text-center"><%= @user.uid %></p></td>
  </tr>
  <% end %>
</table>

<h1 class="text-center">Your Games</h1>
<a data-toggle="modal" href="#gameModal" class="btn btn-primary">Add a Game</a>
<%= grid(@games_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Games found", class: 'well'
  end

  g.column name: 'Icon', attribute: 'logo_url', filter: false do |game|
    image_tag(game.logo_url, :crop => :fill, :class => "game_image")
  end

  g.column name: 'Type', attribute: 'provider' do |game|
    game.provider
  end

  g.column name: 'Name', attribute: 'name' do |game|
    game.name
  end
end -%>

<% if @user.friendships.size > 0 %>
<h2>Friends</h2>
<div class="row">
  <% for i in 0..5 %>
    <div class="col-lg-2 col-md-2">
      <%  @user.friends.each_with_index do |u, index| %>
        <% if index % 6 == i %>
          <%= render "users/user", :u => u %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', root_path, :class => "btn btn-warning" %>
</div>

<%= render '/games/game_form' %>