<%= form_for(@tournament, :html => {:role => "form-horizontal"}) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "help-inline"  %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "help-inline"  %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :game_id, :class => "help-inline" %><br>
    <%= f.grouped_collection_select :game_id, Game.type_fetchers, :fetch, :type, :id, :name,  {:selected => @tournament.game_id}, {:class => "form-control"} %>
      <p>Don't see the game you wanted to add? Click <%= link_to "here", new_game_path, :class => "btn btn-primary btn-sm" %></p>
  </div>

   <% if @tournament.event_id %>
    <%= hidden_field(:tournament, :event_id) %>
  <% else %>
  <div class="form-group">
    <%= f.label "LAN Party", :class => "help-inline" %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name,  {:selected => @tournament.event_id, :include_blank => true}, {:class => "form-control"} %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Max number of Teams", :class => "help-inline"  %><br>
    <%= f.number_field :num_teams, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Max team size", :class => "help-inline"  %><br>
    <%= f.number_field :team_max_size, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Min team size", :class => "help-inline"  %><br>
    <%= f.number_field :team_min_size, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :games_per_round, :class => "help-inline"  %><br>
    <%= f.number_field :games_per_round, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :teams_per_round, :class => "help-inline"  %><br>
    <%= f.number_field :teams_per_round, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Public team signup?", :class => "help-inline"  %><br>
    <%= f.check_box :public_teams, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Lead time (minutes)", :class => "help-inline"  %><br>
    <%= f.number_field :lead_time, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Number of parallel games", :class => "help-inline"  %><br>
    <%= f.number_field :num_parallel_events, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Round duration (minutes)", :class => "help-inline"  %><br>
    <%= f.number_field :round_length, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Time between rounds (minutes)", :class => "help-inline"  %><br>
    <%= f.number_field :time_between_rounds, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :object_permission do |builder| %>
      <%= builder.label :type, "Visibility", :class => "help-inline" %><br>
      <%= builder.select :permission_type, ObjectPermission.event_permission_types(current_user), 
      {:selected => f.object.object_permission.permission_type}, 
      {:class => "form-control"} %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.time_field').datetimepicker({'datepicker': false, 'format': 'H:i'});
  });
</script>
