<p id="notice"><%= notice %></p>

<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Name</h5></td>
    <td><p class="text-center"><%= @tournament.name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @tournament.name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game</h5></td>
    <td><p class="text-center"><%= @tournament.game_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">LAN Party</h5></td>
    <td><p class="text-center"><%= @tournament.event_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Max number of Teams</h5></td>
    <td><p class="text-center"><%= @tournament.num_teams %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Max Team Size</h5></td>
    <td><p class="text-center"><%= @tournament.team_max_size %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Min Team Size</h5></td>
    <td><p class="text-center"><%= @tournament.team_min_size %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Games per Round</h5></td>
    <td><p class="text-center"><%= @tournament.games_per_round %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Teams per Round</h5></td>
    <td><p class="text-center"><%= @tournament.teams_per_round %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Public team signup?</h5></td>
    <td><p class="text-center"><%= @tournament.public_teams %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Lead time (minutes)</h5></td>
    <td><p class="text-center"><%= @tournament.lead_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Num of parallel games</h5></td>
    <td><p class="text-center"><%= @tournament.num_parallel_events %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Round duration (minutes)</h5></td>
    <td><p class="text-center"><%= @tournament.round_length %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Time between rounds (minutes)</h5></td>
    <td><p class="text-center"><%= @tournament.time_between_rounds %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Visibility</h5></td>
    <td><p class="text-center"><%= @tournament.object_permission.permission_type %></p></td>
  </tr>
  <% if (!@tournament.locked?) && current_user && current_user.owns(@tournament) %>
  <tr>
    <td><h5 class="text-center">Locking</h5></td>
    <td><p class="text-center"><%= link_to 'Lock Tournament', lock_tournament_path(@tournament), :class => "btn btn-success", data: { confirm: 'Are you sure?' } %></p></td>
  </tr>
  <% end %>
</table>

<%= social_share_button_tag(@tournament.name, url: tournament_url(@tournament), desc: @tournament.description, popup: "true", via: "gamesocialapp") %>

<% if @tournament.winner %>
<h2>Winner: <%= @tournament.winner.name %></h2>
<% end %>

<%= render "tournaments/teams", :tournament => @tournament, :teams_grid => @teams_grid %>

<h2>Calendar</h2>
<div id="calendar"></div>

<script type='text/javascript'>
  $(document).ready(function() {
  events =  [
    <% @tournament.game_events.each_with_index do |ge, i| %>
      {
        title  : '<%= ge.title %>',
        start  : '<%= ge.game_start_time %>',
        end    : '<%= ge.game_end_time %>'
      }<%= "," unless i == @tournament.game_events.size - 1 %>
    <% end %>
  ];
  start_time = "<%= @tournament.next_event.try(:game_start_time) || DateTime.now %>"
  create_calendar("#calendar", events, "agendaDay", start_time);
});
</script>

<h2>Rounds</h2>
<%= render "tournament_rounds/tournament_rounds" %>

<%= link_to 'Edit', edit_tournament_path(@tournament), :class => "btn btn-primary"  %> |
<%= link_to 'Back', tournaments_path, :class => "btn btn-warning" %>
