<div class="modal" id="inviteModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Invite User</h4>
        </div>
        <%= form_for(@invite, :url => url, :html => {:class => "form-horizontal"}) do |f| %>

        <div class="modal-body">
          <p>To invite someone to this <%= type %>, fill out their username or email in the following form</p>

          <div class="input">
            <%= f.label :user, :class => "help-inline" %><br>
            <%= f.autocomplete_field :email, autocomplete_user_name_users_path, :append_to => "#inviteModal" %>
          </div>
          <% if type == "Event" %>
          <% friend_list =  current_user.friends.select {|f| f.games.include? game } %>
          <% if friend_list.size > 0 %>
          <div class="modal-body">
            <p>These are your friends who play <%= game.name %></p>
            <div class="row">
              <% for i in 0..2 %>
                <div class="col-lg-2 col-md-2">
                  <%  friend_list.each_with_index do |u, index| %>
                    <% if index % 3 == i %>
                      <%= render "users/user", :u => u %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <%= f.submit "Invite", :class => "btn btn-success" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
