<h1 class="text-center">Listing events</h1>

<br>

<%= will_paginate @game_locations %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>User</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.user_id %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event, :class => "btn" %></td>
        <% if current_user.attending_event?(event) %>
          <td><%= link_to 'Leave', leave_event_path(event), :class => "btn" %></td>
        <% else %>
          <td><%= link_to 'Join', join_event_path(event), :class => "btn" %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_event_path(event), :class => "btn"  %></td>
        <td><%= link_to 'Destroy', event, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @game_locations %>

<br>

<%= link_to 'New Event', new_event_path, :class => "btn btn-success"  %>
<%= link_to 'ICal', events_ics_path, :class => "btn btn-primary"  %>

