<div class="pagination-centered">

<p id="notice"><%= notice %></p>


<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Name</h5></td>
    <td><p class="text-center"><%= @event.name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @event.description %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Start Time</h5></td>
    <td><p class="text-center"><%= @event.start_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">End Time</h5></td>
    <td><p class="text-center"><%= @event.end_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Location</h5></td>
    <td><p class="text-center"><%= @event.location %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">User</h5></td>
    <td><p class="text-center"><%= @event.user_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Calendar</h5></td>
    <td><p class="text-center"><%= link_to "ICal", event_ics_path(@event), :class => "btn btn-primary" %></p></td>
  </tr>
</table>

<h2>Games</h2>
<table class="table table-condensed">
<tr>
  <th>Title</th>
  <th>Game</th>
  <th>Start Time</th>
  <th></th>
  <th></th>
</tr>
<% for game in @event.game_events.order("start_time") %>
<tr>
  <td><p class="text-center"><%= game.title %></p></td>
  <td><p class="text-center"><%= game.game_name %></p></td>
  <td><p class="text-center"><%= game.start_time %></p></td>
</tr>
<% end %>
</table>  
<%= link_to 'Create Game Event', new_game_event_for_event_path(@event), :class => "btn btn-success" %><br><br>

<h2>Attending</h2>
<table class="table table-condensed">
<% for user in @event.users %>
<tr>
  <%= render "users/user", :u => user %>
</tr>
<% end %>
</table>  

<h2>Comments</h2>
<table class="table table-condensed">
<tr>
  <th>Title</th>
  <th>Body</th>
  <th>User</th>
  <th></th>
  <th></th>
</tr>
<% for post in @event.posts %>
<tr>
  <td><p class="text-center"><%= post.title %></p></td>
  <td><p class="text-center"><%= post.body %></p></td>
  <td><p class="text-center"><%= post.user_name %></p></td>
</tr>
<% end %>
</table>  
<%= link_to 'Post Comment', new_post_for_event_path(@event), :class => "btn btn-success" %><br><br>

<%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> |
<%= link_to 'Back', events_path, :class => "btn btn-warning" %>
</div>




