<p id="notice"><%= notice %></p>

<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Name</h5></td>
    <td><p class="text-center"><%= @event.name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @event.description %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Start Time</h5></td>
    <td><p class="text-center"><%= @event.formatted_start_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">End Time</h5></td>
    <td><p class="text-center"><%= @event.formatted_end_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Location</h5></td>
    <td><p class="text-center"><%= @event.location %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Owner</h5></td>
    <td><p class="text-center"><%= @event.user_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Join Lan Party</h5></td>
    <td><p class="text-center">
    <% if current_user.attending_event?(@event) %>
      <%= link_to 'Leave', leave_event_path(@event), :class => "btn btn-warning" %>
    <% else %>
      <%= link_to 'Join', join_event_path(@event), :class => "btn btn-primary" %>
    <% end %>
  </p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Calendar</h5></td>
    <td><p class="text-center"><%= link_to "ICal", event_ics_path(@event), :class => "btn btn-primary" %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Invite to LAN Party</h5></td>
    <td><p class="text-center"><a data-toggle="modal" href="#inviteModal" class="btn btn-primary">Invite</a></p></td>
  </tr>
</table>

<h2>Events</h2>
<%= render "game_events/game_events", :game_events => @event.game_events %>
<%= link_to 'Create Game Event', new_game_event_for_event_path(@event), :class => "btn btn-success" %><br><br>

<h2>Attending</h2>
<div class="row">
  <% for i in 0..5 %>
    <div class="col-lg-2 col-md-2">
      <%  @event.users.each_with_index do |u, index| %>
        <% if index % 6 == i %>
          <%= render "users/user", :u => u %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Comments</h2>
<%= render "posts/posts", :object => @event %>
<a data-toggle="modal" href="#postModal" class="btn btn-primary">Post a Comment</a><br><br>

<% if current_user.owns(@event) %>
  <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', events_path, :class => "btn btn-warning" %>
</div>


<%= render '/events/invite_form', :type => "LAN Party", :url => invite_event_path(@event) %>

<%= render '/posts/post_form', :type => "LAN Party", :url => posts_path %>