<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= link_to events_path, :class => "btn btn-warning btn-left" do %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
  <% end %>
  <%= render "users/attend", :attending => current_user.attending_event?(@event), :join => join_event_path(@event), :leave =>  leave_event_path(@event) %>
  <%= link_to calendar_path(event_path(@event)), :class => "btn btn-primary btn-right" do %>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ICal
  <% end %>
  <a data-toggle="modal" href="#inviteModal" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Invite</a>
  <h3 class="text-center"><%= @event.name %></h3>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
  <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
  <li role="presentation"><a href="#calendar-div" aria-controls="calendar-div" role="tab" data-toggle="tab">Calendar</a></li>
  <li role="presentation"><a href="#tournaments" aria-controls="tournaments" role="tab" data-toggle="tab">Tournaments</a></li>  
  <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Attendees</a></li>  
  <li role="presentation"><a href="#game_servers" aria-controls="game_servers" role="tab" data-toggle="tab">Game Servers</a></li>  
  <li role="presentation"><a href="#games" aria-controls="games" role="tab" data-toggle="tab">Games</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
    <div class="panel panel-default">
      <div class="panel-heading">Summary</div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <%= image_tag @event.image_url, size: "100", class: "media-object" %>
          </div>
          <div class="media-body">
            <p><%= @event.description %></p>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Start time: <%= @event.formatted_start_time %></li>
        <li class="list-group-item">End time: <%= @event.formatted_end_time %></li>
        <li class="list-group-item">Location: <%= @event.location %></li>
        <li class="list-group-item">Owner: <%= @event.user_name %></li>
        <li class="list-group-item">Visibility: <%= @event.object_permission.permission_type %></li>
        <% if current_user && current_user.owns(@event) %>
          <li class="list-group-item"><%= link_to edit_event_path(@event), :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
          <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="calendar-div">
    <div id="calendar"></div>
  <script type='text/javascript'>
      $(document).ready(function() {
      events =  [
        <% @event.game_events.each_with_index do |ge, i| %>
          {
            title  : '<%= ge.title %>',
            start  : '<%= ge.game_start_time %>',
            end    : '<%= ge.game_end_time %>'
          }<%= "," unless i == @event.game_events.size - 1 %>
        <% end %>
      ];
      start_time = "<%= @event.next_event.try(:game_start_time) || DateTime.now %>"
      create_calendar("#calendar", events, "agendaDay", start_time);
    });
    </script>
  </div>

  <div role="tabpanel" class="tab-pane" id="events">
    <div class="section-header">
      <% if @filter == "owned" %>
        <%= link_to event_path(@event), :class => "btn btn-success" do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show All
        <% end %>
      <% else %>
       <%= link_to "#{event_path(@event)}/?filter=owned", :class => "btn btn-success" do %>
         <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Show Joinable
       <% end %>
      <% end %>
      <%= link_to new_game_event_for_event_path(@event), :class => "btn btn-success btn-right" do %>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Event
      <% end %>
      <h2>Events</h2>
    </div>
    <%= render "game_events/game_events" %>
  </div>

  <div role="tabpanel" class="tab-pane" id="tournaments">
    <div class="section-header">
      <% if @filter_tournaments == "owned" %>
        <%= link_to event_path(@event), :class => "btn btn-success" do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show All
        <% end %>
      <% else %>
        <%= link_to "#{event_path(@event)}/?filter_tournaments=owned", :class => "btn btn-success" do %>
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Show Joinable
        <% end %>
      <% end %>
      <%= link_to new_tournament_for_event_path(@event), :class => "btn btn-success btn-right" do %>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Tournament
      <% end %>
      <h2>Tournaments</h2>
    </div>
    <%= render "tournaments/tournaments" %>
  </div>

  <div role="tabpanel" class="tab-pane" id="users">
    <div class="section-header section-header-centered">
      <h2>Attending</h2>
    </div>

    <% if @event.users.size > 0 %>
      <div class="row">
        <% for i in 0..3 %>
          <div class="col-lg-3 col-md-3">
            <%  @event.users.each_with_index do |u, index| %>
              <% if index % 4 == i %>
                <%= render "users/user", :u => u %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>No Users Attending</h2>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane" id="games">
    <div class="section-header section-header-centered">
      <h2>Games being played</h2>
    </div>
    <% @event.popular_games.each do |game_listing| %>
      <div>
        <p><%= game_listing[:game].name %></p>
        <div class="row">
        <% for i in 0..3 %>
          <div class="col-lg-3 col-md-3">
            <%  game_listing[:users].each_with_index do |u, index| %>
              <% if index % 4 == i %>
                <%= render "users/user", :u => u %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

      <% if current_user && current_user.attending_event?(@event) %>
        <p class="text-center"><a data-toggle="modal" href="#playlistModal" class="btn btn-primary">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 
        Manage Playlist</a></p>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane" id="game_servers">
    <div class="section-header section-header-centered">
      <h2>Game Servers</h2>
    </div>
    <%= render "game_social_servers/game_social_servers" %>
  </div>
</div>

<div class="share-panel">
<p>Share this Lan Party:</p>
<%= social_share_button_tag(@event.name, url: event_url(@event), desc: @event.description, popup: "true", via: "gamesocialapp") %>
</div>

<% if current_user %>
  <h2>Comments</h2>
  <%= render "posts/posts", :object => @event %>
  <a data-toggle="modal" href="#postModal" class="btn btn-primary"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Post a Comment</a><br><br>
<% end %>
</div>

<%= render '/events/invite_form', :type => "LAN Party", :url => invite_event_path(@event) %>

<% if current_user %>
<%= render '/games/playlist_form', :playlist => current_user.playlist_for(@event) %>
<% end %>
<%= render '/posts/post_form', :type => "LAN Party", :url => posts_path %>

<script type='text/javascript'>
$(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $('#calendar').fullCalendar('render');
    });
    $('#myTab a:first').tab('show');
});
</script>