<%= form_for(@game, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

  <div class="form-group">
    <%= f.label :name, :class => "help-inline" %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
<br>

  <div class="form-group">
    <%= f.label :store_url, :class => "help-inline" %><br>
    <%= f.text_area :store_url, :class => "form-control" %>
  </div>
<br>

  <div class="form-group">
    <%= f.label :description, :class => "help-inline" %><br>
    <%= f.text_area :description, :class => "form-control", :rows => "5" %>
  </div>

  <div class="form-group">
    <%= f.label :type, :class => "help-inline" %><br>
    <%= f.select :provider, Game.types, {}, :class => "form-control" %>
  </div>
<br>

  <div class="form-group">
    <%= f.label :logo_url, :class => "help-inline" %><br>
    <%= f.text_area :logo_url, :class => "form-control" %>
  </div>

<br><br>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>
