<h1 class="text-center">Games</h1>

<br>
<%= will_paginate @games %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag(game.logo_url, :size => "32x32") %></td>
        <td><%= game.name %></td>
        <td><%= link_to 'Show', game, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_game_path(game), :class => "btn"%></td>
        <td><%= link_to 'Store', game.store_url, :class => "btn" %></td>
        <td><%= link_to 'Destroy', game, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games %>

<br>

<%= link_to 'New Game', new_game_path, :class => "btn btn-success" %>
