<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Store url</th>
      <th>Description</th>
      <th>Logo url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.store_url %></td>
        <td><%= game.description %></td>
        <td><%= game.logo_url %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
