
<h1 class="text-center">Listing alerts</h1>

<br>

<%= will_paginate @alerts %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Alert schedule</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.alert_schedule_id %></td>
        <td><%= alert.title %></td>
        <td><%= alert.description %></td>
        <td><%= link_to 'Show', alert, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert), :class => "btn" %></td>
        <td><%= link_to 'Destroy', alert, :class => "btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @alerts %>

<br>

<%= link_to 'New Alert', new_alert_path, :class => "btn btn-success" %>
