<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject %></h1>
    <p>
      <%= @inviter.name %> has invited you to join the following LAN Party:
    </p>
    <table>
      <tr>
      	<td>Lan Party Name</td>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= @event.select_location %></td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td><%= @event.formatted_start_time %></td>
      </tr>
    </table>

    <p>To accept this invitation, click <%= link_to 'this link', join_event_url(@event), :class => "btn btn-primary" %></p>
  </body>
</html>