<%= form_for(@chat_server) do |f| %>
  <% if @chat_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_server.errors.count, "error") %> prohibited this chat_server from being saved:</h2>

      <ul>
      <% @chat_server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :server_type, ChatServer.server_types %>
  </div>

  <% if is_admin? %>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.collection_select :user_id, User.all, :id, :name,  {:selected => @chat_server.user} %>

    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :room_password %><br>
    <%= f.text_field :room_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
