<div class="page-header">
  <%= link_to chat_servers_path, :class => "btn btn-warning btn-left" do %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
  <% end %>
  <h3 class="text-center h3-1-0"><%= @chat_server.name %></h3>
</div>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Summary</div>
  <ul class="list-group">
    <% if @chat_server.ip.present? %>
      <li class="list-group-item">Host: <%= @chat_server.ip %></li>
    <% end %>
    <% if @chat_server.port.present? %>
      <li class="list-group-item">Port: <%= @chat_server.port %></li>
    <% end %>
    <li class="list-group-item">Type: <%= @chat_server.server_type %></li>
    <% if @chat_server.password.present? %>
      <li class="list-group-item">Password: <%= @chat_server.password %></li>
    <% end %>
    <% if @chat_server.room.present? %>
      <li class="list-group-item">Room: <%= @chat_server.room %></li>
    <% end %>
    <% if @chat_server.room_password.present? %>
      <li class="list-group-item">Room Password: <%= @chat_server.room_password %></li>
    <% end %>
    <% if @chat_server.url.present? %>
      <li class="list-group-item">URL: <%= @chat_server.url %></li>
    <% end %>
    <li class="list-group-item">Owner: <%= @chat_server.user_name %></li>
    <li class="list-group-item">Visibility: <%= @chat_server.object_permission.permission_type %></li>
    <li class="list-group-item">
      <% if current_user && current_user.owns(@chat_server) %>
        <%= link_to edit_chat_server_path(@chat_server), :class => "btn btn-success" do %>
           <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
        <% end %>
      <% end %>
      <%= link_to @chat_server.launch_url(current_user), :class => "btn btn-success" do %>
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Join Chat Server
      <% end %>
    </li>
  </ul>
</div>

<div class="share-panel">
  <p>Share this Event:</p>
  <%= social_share_button_tag(@chat_server.name, url: chat_server_url(@chat_server), popup: "true", via: "gamesocialapp") %>
</div>