<h1 class="text-center">Listing posts</h1>

<br>

<%= will_paginate @game_locations %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class => "btn" %></td>
        <td><%= link_to 'Destroy', post, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @game_locations %>

<br>

<%= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
