
<%= form_for(@game_event, :html => {:class => "form-horizontal"}) do |f| %>
  <% @game_event.set_defaults %>
  <% if @game_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_event.errors.count, "error") %> prohibited this game_event from being saved:</h2>

      <ul>
      <% @game_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= f.label :event_id, :class => "help-inline" %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name,  {:selected => @game_event.event_id, :class => "span5"} %>
  </div>
  <div class="input">
    <%= f.label :title, :class => "help-inline" %><br>
    <%= f.text_field :title, :class => "span5"  %>
  </div>
  <% if current_user.is_admin? %>
  <div class="input">
    <%= f.label "Game Event Owner", :class => "help-inline" %><br>
    <%= f.collection_select :user_id, User.all, :id, :name,  {:selected => (@game_event.user || current_user), :class => "span5"} %>
  </div>
  <% end %>
  <div class="input">
    <%= f.label :description, :class => "help-inline" %><br>
    <%= f.text_area :description, :class => "span5", :rows => "5" %>
  </div>
  <div class="input">
    <%= f.label :game_id, :class => "help-inline" %><br>
    <%= f.collection_select :game_id, Game.all, :id, :name,  {:selected => @game_event.game_id, :class => "span5"} %>
  </div>
  <div class="input">
    <%= f.label :game_social_server_id, :class => "help-inline" %><br>
    <%= f.collection_select :game_social_server_id, GameSocialServer.all, :id, :name,  {:selected => @game_event.game_social_server, :class => "span5"} %>
  </div>
  <div class="input">
    <%= f.label :chat_server_id, :class => "help-inline" %><br>
    <%= f.collection_select :chat_server_id, ChatServer.all, :id, :name,  {:selected => @game_event.chat_server, :class => "span5"} %>
  </div>
  <div class="input">
    <%= f.label :start_time, :class => "help-inline" %><br>
    <%= f.text_field(:start_time, :value => @game_event.start_time, :class => 'date_field') %>
  </div>
  <div class="input">
    <%= f.label :end_time, :class => "help-inline" %><br>
    <%= f.text_field(:end_time, :value => @game_event.end_time, :class => 'date_field') %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.date_field').appendDtpicker({"closeOnSelected": true, "inline": false});
  });
</script>

