<%= form_for(@game_event, :html => {:role => "form-horizontal"}) do |f| %>
  <% @game_event.set_defaults %>
  <% if @game_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_event.errors.count, "error") %> prohibited this game_event from being saved:</h2>

      <ul>
        <% @game_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "LAN Party, :class => "help-inline" %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name,  {:selected => @game_event.event_id, :include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => "help-inline" %><br>
    <%= f.text_field :title, :class => "form-control"  %>
  </div>
  <% if current_user && current_user.is_admin? %>
    <div class="form-group">
      <%= f.label "Event Owner", :class => "help-inline" %><br>
      <%= f.collection_select :user_id, User.all, :id, :name,  {:selected => (@game_event.user_id || current_user.id)}, {:class => "form-control"} %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :description, :class => "help-inline" %><br>
    <%= f.text_area :description, :class => "form-control", :rows => "5" %>
  </div>
  <div class="form-group">
    <%= f.label :start_time, :class => "help-inline" %><br>
    <%= f.text_field(:start_time, :value=> @game_event.start_time.strftime('%Y-%m-%d %H:%m'), :class => "datetimepicker form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => "help-inline" %><br>
    <%= f.text_field(:end_time, :value=> @game_event.end_time.strftime('%Y-%m-%d %H:%m'), :class => "datetimepicker form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :game_id, :class => "help-inline" %><br>
    <%= f.grouped_collection_select :game_id, Game.type_fetchers, :fetch, :type, :id, :name,  {:selected => @game_event.game_id}, {:class => "form-control"} %>
      <p>Don't see the game you wanted to add? Click <%= link_to "here", new_game_path, :class => "btn btn-primary btn-sm" %></p>
  </div>
  <div class="form-group">
    <%= f.label :game_social_server_id, "Game Server", :class => "help-inline" %><br>
    <%= f.collection_select :game_social_server_id, GameSocialServer.all, :id, :name,  {:selected => @game_event.game_social_server_id, :include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :chat_server_id, :class => "help-inline" %><br>
    <%= f.collection_select :chat_server_id, ChatServer.all, :id, :name,  {:selected => @game_event.chat_server_id, :include_blank => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.fields_for :object_permission do |builder| %>
      <%= builder.label :type, "Visibility", :class => "help-inline" %><br>
      <%= builder.select :permission_type, ObjectPermission.event_permission_types, 
      {:selected =>f.object.object_permission.permission_type}, 
      {:class => "form-control"} %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>