<h1 class="text-center">Listing game_events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Title</th>
      <th>Description</th>
      <th>Game</th>
      <th>Game social server</th>
      <th>Chat server</th>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_events.each do |game_event| %>
      <tr>
        <td><%= game_event.event_title %></td>
        <td><%= game_event.title %></td>
        <td><%= game_event.description %></td>
        <td><%= game_event.game_namme %></td>
        <td><%= game_event.game_social_server_name %></td>
        <td><%= game_event.chat_server_name %></td>
        <td><%= game_event.user_name %></td>
        <td><%= game_event.start_time %></td>
        <td><%= game_event.end_time %></td>
        <td><%= link_to 'Show', game_event, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_game_event_path(game_event), :class => "btn" %></td>
        <td><%= link_to 'Destroy', game_event, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game event', new_game_event_path, :class => "btn btn-success" %>
