<p id="notice"><%= notice %></p>

<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Title</h5></td>
    <td><p class="text-center"><%= @game_event.title %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @game_event.description %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Event</h5></td>
    <td><p class="text-center"><%= @game_event.event_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game</h5></td>
    <td><p class="text-center"><%= @game_event.game_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game Server</h5></td>
    <td><p class="text-center"><%= link_to @game_event.game_social_server_name, @game_event.game_social_server if @game_event.game_social_server %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Chat Server</h5></td>
    <td><p class="text-center"><%= link_to @game_event.chat_server_name, @game_event.chat_server if @game_event.chat_server %> </p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Owner</h5></td>
    <td><p class="text-center"><%= @game_event.user_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Start Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_start_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">End Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_end_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Visibility</h5></td>
    <td><p class="text-center"><%= @game_event.object_permission.permission_type %></p></td>
  </tr>
  <% if current_user %>
  <tr>
    <td><h5 class="text-center">Attend Event</h5></td>
    <td><p class="text-center">
      <% if current_user %>
        <%= render "users/attend", :attending => current_user.attending_game_event?(@game_event), :join => join_game_event_path(@game_event), :leave =>  leave_game_event_path(@game_event) %>
      <% end %>
  </p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Invite to Event</h5></td>
    <td><p class="text-center"><a data-toggle="modal" href="#inviteModal" class="btn btn-primary">Invite</a></p></td>

  </tr>
  <% if @game_event.game_social_server %>
  <tr>
    <td><h5 class="text-center">Launch Game</h5></td>
    <td><p class="text-center"><%= link_to "Join Server", @game_event.game_social_server_launch_url, :class => "btn btn-success" %>
   </p></td>
  </tr>
  <% end %>
  <% if @game_event.chat_server %>
  <tr>
    <td><h5 class="text-center">Launch Chat Server</h5></td>
    <td><p class="text-center"><%= link_to 'Join Chat Server', @game_event.chat_server_launch_url(current_user), :class => "btn btn-success" %>
   </p></td>
  </tr>
  <% end %>
  <% end %>
</table>

<%= social_share_button_tag(@game_event.name, url: game_event_url(@game_event), desc: @game_event.description, popup: "true", via: "gamesocialapp") %>

<h2>Attending</h2>
<div class="row">
  <% for i in 0..5 %>
    <div class="col-lg-2 col-md-2">
      <%  @game_event.users.each_with_index do |u, index| %>
        <% if index % 6 == i %>
          <%= render "users/user", :u => u %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Comments</h2>
<%= render "posts/posts", :object => @game_event %>
<% if current_user %>
<a data-toggle="modal" href="#postModal" class="btn btn-primary">Post a Comment</a><br><br>
<% end %>

<% if current_user && current_user.owns(@game_event) %>
  <%= link_to 'Edit', edit_game_event_path(@game_event), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', game_events_path, :class => "btn btn-warning" %>
</div>

<%= render '/events/invite_form', :type => "Event", :url => invite_game_event_path(@game_event), :game => @game_event.game %>

<%= render '/posts/post_form', :type => "Event", :url => posts_path %>
