<div class="pagination-centered">

<p id="notice"><%= notice %></p>

<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Event</h5></td>
    <td><p class="text-center"><%= @game_event.event_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game</h5></td>
    <td><p class="text-center"><%= @game_event.game_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game Server</h5></td>
    <td><p class="text-center"><%= @game_event.game_social_server_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Chat Server</h5></td>
    <td><p class="text-center"><%= @game_event.chat_server_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Owner</h5></td>
    <td><p class="text-center"><%= @game_event.user_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Title</h5></td>
    <td><p class="text-center"><%= @game_event.title %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @game_event.description %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Start Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_start_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">End Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_end_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Attend Event</h5></td>
    <td><p class="text-center">
    <% if current_user.attending_game_event?(@game_event) %>
      <%= link_to 'Leave', leave_game_event_path(@game_event), :class => "btn btn-warning" %>
    <% else %>
      <%= link_to 'Join', join_game_event_path(@game_event), :class => "btn btn-success" %>
    <% end %>
  </p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Invite to Event</h5></td>
    <td><p class="text-center"><a data-toggle="modal" href="#inviteModal" class="btn btn-primary">Invite</a></p></td>

  </tr>
</table>

<h2>Attending</h2>
<div class="row">
  <% for i in 0..5 %>
    <div class="col-lg-2 col-md-2">
      <%  @game_event.users.each_with_index do |u, index| %>
        <% if index % 6 == i %>
          <%= render "users/user", :u => u %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Comments</h2>
<%= render "posts/posts", :object => @game_event %>
<a data-toggle="modal" href="#postModal" class="btn btn-primary">Post a Comment</a><br><br>

<% if current_user.owns(@game_event) %>
  <%= link_to 'Edit', edit_game_event_path(@game_event), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', game_events_path, :class => "btn btn-warning" %>
</div>

<%= render '/events/invite_form', :type => "Event", :url => invite_game_event_path(@game_event) %>

<%= render '/posts/post_form', :type => "Event", :url => posts_path %>