<div class="pagination-centered">

<p id="notice"><%= notice %></p>

<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Event</h5></td>
    <td><p class="text-center"><%= @game_event.event_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game</h5></td>
    <td><p class="text-center"><%= @game_event.game_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Game Server</h5></td>
    <td><p class="text-center"><%= @game_event.game_social_server_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Chat Server</h5></td>
    <td><p class="text-center"><%= @game_event.chat_server_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Owner</h5></td>
    <td><p class="text-center"><%= @game_event.user_name %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Title</h5></td>
    <td><p class="text-center"><%= @game_event.title %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Description</h5></td>
    <td><p class="text-center"><%= @game_event.description %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Start Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_start_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">End Time</h5></td>
    <td><p class="text-center"><%= @game_event.formatted_end_time %></p></td>
  </tr>
  <tr>
    <td><h5 class="text-center">Attend Event</h5></td>
    <td><p class="text-center">
    <% if current_user.attending_game_event?(@game_event) %>
      <%= link_to 'Leave', leave_game_event_path(@game_event), :class => "btn btn-primary" %>
    <% else %>
      <%= link_to 'Join', join_game_event_path(@game_event), :class => "btn btn-primary" %>
    <% end %>
  </p></td>
  </tr>
</table>

<h2>Attending</h2>
<table class="table table-condensed">
<% for user in @game_event.users %>
<tr>
  <%= render "users/user", :u => user %>
</tr>
<% end %>
</table> 

<h2>Comments</h2>
<table class="table table-condensed">
<tr>
  <th>Title</th>
  <th>Body</th>
  <th>User</th>
  <th></th>
  <th></th>
</tr>
<% for post in @game_event.posts %>
<tr>
  <td><p class="text-center"><%= post.title %></p></td>
  <td><p class="text-center"><%= post.body %></p></td>
  <td><p class="text-center"><%= post.user_name %></p></td>
</tr>
<% end %>
</table>  
<%= link_to 'Post Comment', new_post_for_game_event_path(@game_event), :class => "btn btn-success" %><br><br>

<%= link_to 'Edit', edit_game_event_path(@game_event), :class => "btn btn-primary" %>
<%= link_to 'Back', game_events_path, :class => "btn btn-warning" %>
</div>
