<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game_social_server.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @game_social_server.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @game_social_server.port %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_social_server.game_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @game_social_server.user_name %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @game_social_server.max_players %>
</p>

<p>
  <strong>Current players:</strong>
  <%= @game_social_server.current_players %>
</p>

<p>
  <strong>Latency:</strong>
  <%= @game_social_server.latency %>
</p>

<p>
  <strong>Current map:</strong>
  <%= @game_social_server.current_map %>
</p>

<p>
  <strong>Match type:</strong>
  <%= @game_social_server.match_type %>
</p>

<p>
  <strong>Region:</strong>
  <%= @game_social_server.region %>
</p>

<% if current_user.owns(@game_social_server) %>
  <%= link_to 'Edit', edit_event_path(@game_social_server), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', game_social_servers_path %>
