<div class="page-header">
  <%= link_to game_social_servers_path, :class => "btn btn-warning btn-left" do %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
  <% end %>
  <h3 class="text-center h3-1-0"><%= @game_social_server.name %></h3>
</div>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Summary</div>
  <ul class="list-group">
    <li class="list-group-item">Host: <%= @game_social_server.ip %></li>
    <li class="list-group-item">Port: <%= @game_social_server.port %></li>
    <li class="list-group-item">Game: <%= @game_social_server.game_name %></li>
    <li class="list-group-item">Max Players: <%= @game_social_server.max_players %></li>
    <li class="list-group-item">Current Players: <%= @game_social_server.current_players %></li>
    <li class="list-group-item">Current Map: <%= @game_social_server.current_map%></li>
    <li class="list-group-item">Match Type: <%= @game_social_server.match_type %></li>
    <li class="list-group-item">Region: <%= @game_social_server.region %></li>
    <li class="list-group-item">Owner: <%= @game_social_server.user_name %></li>
    <li class="list-group-item">Visibility: <%= @game_social_server.object_permission.permission_type %></li>
    <li class="list-group-item">
      <% if current_user && current_user.owns(@game_social_server) %>
        <%= link_to edit_game_social_server_path(@game_social_server), :class => "btn btn-success" do %>
           <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
        <% end %>
      <% end %>
      <%= link_to @game_social_server.launch_url, :class => "btn btn-success" do %>
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Join Game Server
      <% end %>
    </li>
  </ul>
</div>

<div class="share-panel">
  <p>Share this Game Server:</p>
  <%= social_share_button_tag(@game_social_server.name, url: game_social_server_url(@game_social_server), popup: "true", via: "gamesocialapp") %>
</div>