<div class="btn-group">
<%= link_to "Games", games_path, :class => "btn" %>
<%= link_to "Friends", users_path, :class => "btn" %>
<%= link_to "Chat Servers", chat_servers_path, :class => "btn" %>
<%= link_to "Game Servers", game_social_servers_path, :class => "btn" %>
<%= link_to "Locations", game_locations_path, :class => "btn" %>
<%= link_to "Alert Schedules", alert_schedules_path, :class => "btn" %>
</div>

<div class="btn-group">
    <% if current_user %>
    <%= link_to "Sign out", signout_path, :class => "btn btn-danger"%>
  <% else %>
  <%= link_to "Sign in with Steam", "/auth/steam", :class => "btn btn-primary"%>
  <% end %>
</div>

<div class="btn-group">
	<% if current_user %><b><p class="text-info"> <i class="icon-user icon-white"></i><%= link_to current_user.name, user_path(current_user) %></p></b<% end %>
</div>
