<div class="btn-group">
<%= link_to "Events", events_path, :class => "btn" %>
<%= link_to "Game Events", game_events_path, :class => "btn" %>
<%= link_to "Chat Servers", chat_servers_path, :class => "btn" %>
<%= link_to "Game Servers", game_social_servers_path, :class => "btn" %>
<% if is_admin? %>
  <%= link_to "Users", users_path, :class => "btn" %>
  <%= link_to "Games", games_path, :class => "btn" %>
<% end %>
</div>

<div class="btn-group">
    <% if current_user %>
    <%= link_to "Sign out", signout_path, :class => "btn btn-danger"%>
  <% else %>
  <%= link_to image_tag("https://steamcommunity.com/public/images/signinthroughsteam/sits_small.png", :border=>0), "/auth/steam" %>
  <% end %>
</div>

<div class="btn-group">
	<% if current_user %><b><p class="text-info"> <i class="icon-user icon-white"></i><%= link_to current_user.name, user_path(current_user) %></p></b<% end %>
</div>
